<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>Nick McClintock | Design & Stuff</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:700|Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/ea168fcfbb.js" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="assets/css/debug.css"> -->
